<launch>
  <arg name="rec_name" default="task1.bag"/>
  <arg name="record" default="false"/>
    
    <node name="state_node" pkg="topic_tools" type="throttle" 
      args="messages /gazebo/model_states 10.0"/>

    <node name="task1_rosbag" pkg="rosbag" type="record"
      args="record -O $(find ebot_nav)/bag_files/$(arg rec_name) 
      /gazebo/model_states_throttle 
      /odom
      /cmd_vel" output="screen"/>

</launch>
